.student-list {
  margin-top: 20px;
}

.student-list h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.student-list ul {
  list-style-type: none;
  padding: 0;
}

.student-list li {
  margin-bottom: 5px;
}

.student-list span {
  margin-right: 5px;
}